@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

img{

    border-radius:60%;
    width: 200px;
}

ul{
    list-style: none;
    padding: 0;
   
}

ul li {

     display: inline;
     margin-right: 20px;
     font-family: 'vt323', monospace;
     
}

body{

    background-image: url('/assets/background.png');
    
}

.titulos{

    font-family: 'Audiowide', cursive;
    text-align: center;
    margin-top: 20px;
    font-weight: 200;
    background: linear-gradient(#e66241, #6b1654);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
 
}

.textos{

    text-align: center;
    font-family: 'VT323', monospace;
    color: #fff;
    font-size: 18px;
}

a{
    color: #fff;
    text-decoration: none;
}

#foto_perfil{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: visible;
}

#sobre_mim{

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    
}

#foto_perfil img{

    margin-top: 15px;
    width: 290px;
}

